.DS_Store
/emacs/*.cache
/emacs/eln-cache
/emacs/elpa
/emacs/etc
/emacs/var
/emacs/grammars
/emacs/projectile-bookmarks.eld
/vim/plugged
/vim/autoload
/emacs/FsAutoComplete/
/emacs/auto-save-list/
/emacs/transient/
/emacs/tree-sitter/libtree-sitter-yaml.so
*.dylib
