.DS_Store
npm-debug.log

/emacs.d/org-init.el
/emacs.d/ac-comphist.dat
/emacs.d/recentf
/emacs.d/auto-save-list
/emacs.d/elpa
/emacs.d/backups
/emacs.d/projectile-bookmarks.eld
/emacs.d/elpa/ace-window-20170421.428/ace-window-autoloads.el
/emacs.d/network-security.data
/term/tmuxinator/arhi-sales.yml
/term/tmuxinator/*.yml
/emacs.d/org-init.el
/emacs.d/custom-settings.el
/emacs.d/custom-settings.el
/emacs.d/org-init.el
/emacs.d/.cache/omnisharp/server/v1.22.0/Dotnet.Script.NuGetMetadataResolver.dll
/emacs.d/org-gcal/.org-gcal-token
/emacs.d/org-gcal/org.png
/emacs.d/secrets/emacs_secret.el
/emacs.d/secrets/gcal.el
