*.dylib
.DS_Store
/emacs/*.cache
/emacs/.mc-lists.el
/emacs/FsAutoComplete/
/emacs/_backups
/emacs/auto-save-list/
/emacs/autosaves
/emacs/copilot.el
/emacs/copilot.el/
/emacs/eln-cache
/emacs/elpa
/emacs/etc
/emacs/grammars
/emacs/lsp
/emacs/multisession/
/emacs/projectile-bookmarks.eld
/emacs/projects
/emacs/request/
/emacs/straight/
/emacs/tramp
/emacs/transient/
/emacs/tree-sitter/*.so
/emacs/tree-sitter
/emacs/url/
/emacs/var
/term/scripts/rqp
/vim/autoload
/vim/plugged
rqp
/emacs/eshell/
/emacs/org-persist/
/emacs/custom.el
