[submodule "nvim"]
	path = vimfiles
	url = https://github.com/eastwood/vimfiles/
[submodule "term/tmux-scroll-copy-mode"]
	path = term/tmux-scroll-copy-mode
	url = https://github.com/nhdaly/tmux-scroll-copy-mode
[submodule "term/tmux-resurrect"]
	path = term/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "emacs"]
	path = emacs
	url = https://github.com/eastwood/emacs
